<h2> GitHub Search Results </h2><hr>

<% if @github_user[:userlink].nil?  %>
  <p><%= "No GitHub user '#{@github_search_term}' was found." %></p>
<% else %>
  <p>
<table>
      <tr>
        <td style='padding-right: 10px'> <%= image_tag(@github_user[:avatar], :class => 'img-rounded') %></td>
        <td><b><%= link_to @github_user[:username], @github_user[:userlink] %></b><br>
         <%= "FeedHunter can't follow a GitHub public feed quite yet. Come back soon for that functionality!" %>
        </td></tr>
      </table>
<% end %>
