<% if @current_user && @current_user.feeds.length > 0 %>
  <% @feed = Feed.sort_feed(@current_user) %>
  <% @feed.each do |post| %>
    <div id="feedpost"> <hr><%= post.content.try(:html_safe) %> </div>
  <% end %>
<% elsif @current_user %>
  Search for users to grow your feed!
<% end %>